{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width="wide"}}
        {{/post}}
        <form action="https://formspree.io/f/mqkwkwdy" class="contact-form container small" method="POST">
            <label>
                Name:
                <input type="text" name="name" placeholder="Ada Lovelace" required>
            </label>
            <label>
                Email:
                <input type="email" name="email" placeholder="ada@lovelace.co.uk" required>
            </label>
            <label>
                Subject:
                <input type="subject" name="subject" placeholder="I want to get in touch!" required>
            </label>
            <label>
                Message:
                <textarea rows="6" name="message" placeholder="Hello, hope you are doing ok. Let's talk!" required></textarea>
            </label>
            <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
            <input type="hidden" name="_next" value="{{@site.url}}/thanks/">
            <button class="button" type="submit">Submit</button>
        </form>
    </main>
</div>

{{#contentFor "body_class"}}{{#if @site.logo}}{{#if @site.cover_image}} with-alt-header{{/if}}{{/if}}{{/contentFor}}